<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
    <li>python</li>
    <li>R Programming</li>
    <li>Scala</li>
     <li>Julia</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
 <ol>
    <li>tensorflow</li>
    <li>pandas</li>
    <li>numpy</li>
    <li>matplotlib</li>
</ol>

<table align="left" border="1">
<tr>
    <td> Data Science Tools</td>
</tr>
<tr>
    <td>Jupyter Notebooks </td>
</tr>
<tr>
    <td>Zeppelin Notebooks</td>
</tr>
<tr>
    <td>R Studioâ€™s</td>
</tr>
    </table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<b>Objectives:</b>
<ul>
    <li>list of popular Data science tools</li>
    <li>list of popular Data science langyage</li>
    <li>list of popular Data science libtraries</li>
    <li>arithmatic Expression</li>
   
</ul>

<h2>Author</h2>
Sarvagya Jain